.button {
    -fx-font-size: 16px;
    -fx-background-color: #1b75d1;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}
.button:hover {
    -fx-background-color: #2a8af0;
}


.label {
    -fx-text-fill: white;
}
